= render 'cookoons/show_content', reservation: @reservation, back_button_path: un_chef_pour_vous_reservation_cookoons_path(@reservation), cookoon: @cookoon, sample_photos: @sample_photos, marker: @marker, button_path: un_chef_pour_vous_reservation_chefs_path(@reservation), button_method: :get
