<div class="modal fade" id="payment_succeed" tabindex="-1" role="dialog" aria-labelledby="paymentSucceedLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <i class="co co-reversed-success fa-5x" aria-hidden="true" style="-webkit-text-fill-color:white"></i>
        <h4>Votre service a été payé avec succès !</h4>
        <p>
          Votre processus de réservation est maintenant terminé, vous pouvez reprendre votre navigation
        </p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="button button-white" data-dismiss="modal" aria-label="Close">CONTINUER</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#payment_succeed').modal('show');
</script>
