= simple_form_for [:un_chef_pour_vous, @reservation], html: { class: "bg-white h-100 d-flex justify-content-center align-items-center" }, data: { target: 'search.submitForm', action: 'click->search#submitForm mouseover->search#logoWhiteBackgroundBold mouseout->search#logoBoldBackgroundWhite'} do |f|

  = f.input :type_name, input_html: { value: @reservation.default_type.last , data: {target: 'search.typeInput'} }

  = f.input :start_at, input_html: { data: {target: 'search.dateInput'} }, as: :string

  = image_submit_tag("cookoon-logo-favicon-small.png", id: "btn_cookoon_search_submit_img", data: { logo_white: asset_path("cookoon-logo-favicon-white-small.png"), logo_bold: asset_path("cookoon-logo-favicon-small.png"), target: 'search.submitFormLogo'})
