/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,700');
$base-font: 'Roboto', 'Helvetica', 'sans-serif';
$header-font: 'Roboto', 'Helvetica', 'sans-serif';

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 13px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #d23333;

$red: #ee5f5b;
$blue: #006f8b;
$yellow: #fdb631;
$orange: #e67e22;
$green: #32b796;
$black: #000000;
$cream: #fafeef;
$grey: #898989;
$white: #fff;
