<div class="card-bottom pt-5 pb-3">
  <div class="card-bottom-title">
    <h4>Recevez vos paiements !</h4>
  </div>
  <div class="card-bottom-content">
    <p>
      Pour recevoir vos paiements, vous devez renseigner des informations supplémentaires,
      comme votre adresse et votre IBAN.
    </p>
  </div>
  <div class="card-bottom-footer">
    <%= link_to "AJOUTER MES INFORMATIONS", new_stripe_account_path %>
  </div>
</div>
