.card-cookoon {
  width: 100%;
  height: calc(210.9375px + 2.3375rem);
  position: relative;
  font-family: 'GFS Didot', serif;
  font-size: 1.125rem;
  line-height: normal;
  color: var(--primary);
  .title {
    position: absolute;
    top: 0;
    left: 2rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: calc(100% - 4rem);
    background-color: var(--white);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.7rem;
    &-icon {
      margin-left: 15px;
      display: none;
    }
    &.multiline {
      white-space: normal;
    }
    &.reverse {
      background-color: var(--primary);
      color: var(--white);
    }
  }
  .image {
    position: absolute;
    top: 1.4rem;
    height: calc(100% - 2.3375rem);
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    .bottom {
      position: absolute;
      bottom: -0.9375rem;
      right: 2rem;
      z-index: 1;
      background-color: var(--white);
      max-width: calc(75% - 1rem);
      padding: 0.25rem 1rem;
    }
    .cta {
      padding: 0.25rem 2.5rem;
    }
    .infos {
      font-family: 'Tisa Sans Pro', sans-serif;
      font-size: 0.875rem;
      &.reverse {
        background-color: var(--primary);
        color: var(--white);
      }
    }
    .icons {
      position: absolute;
      bottom: -0.9375rem;
      right: 2rem;
      z-index: 1;
      background-color: var(--white);
      max-width: calc(75% - 2rem);
      padding: 0.25rem;
      display: flex;
      align-items: center;
      > * {
        padding: 0rem 0.5rem;
      }
    }
  }
}
