<div class="container">
  <h1 class='mt-4'>Proposer un décor</h1>
  <p>
    Remplissez ce formulaire pour soumettre votre décor et le poster sur Cookoon.
    <br/>
    Nous vous recontacterons dès que possible pour organiser une rencontre chez vous afin de faire un état-des-lieux préliminaire et prendre en photo votre espace.
  </p>

  <p><b>Décrivez votre décor</b></p>

  <%= render 'form', button_title: "Créer" %>
</div>
