<div class="chef_perks" style="<%= div_style %>">
  <div style="<%= p_style %>">
    <% chef_perks.each do |chef_perk| %>
      <span class="pr-2"><%= "#{chef_perk.name}" %></span>
    <% end %>
  </div>
</div>
