<div id="amex-carousel" class="carousel slide" data-ride="carousel" data-interval="100000">
  <div class="carousel-inner" style="height: 65vh">
    <div class="carousel-item active" style="height: 65vh">
      <div class="figure">
        <%= image_tag 'un_chef_pour_vous.jpg', class:'d-block w-100', style:'height: 65vh; object-fit: cover;' %>
        <figcaption style="position: relative; bottom: 25vh; color: gray; text-align: center">
            <h2 style="font-family: 'Avenir', serif;">Un Chef pour Vous</h2>
            <h5 class="mb-0">avec</h5>
            <h5 class="mb-0">Baptiste Renouard ou Mérouan Bounekraf</h5>
          </figcaption>
      </div>
    </div>
    <div class="carousel-item" style="height: 65vh">
      <div class="figure">
        <%= image_tag 'baptiste_renouard.jpg', class:'d-block w-100', style:'height: 65vh; object-fit: cover;' %>
        <figcaption style="position: relative; bottom: 60vh; color: gray; text-align: left", class="ml-5">
          <h2 style="font-family: 'Avenir', serif;">Baptiste Renouard</h2>
          <h5>Chef de l'Ochre • Candidat Top Chef 2019</h5>
        </figcaption>
      </div>
    </div>
    <div class="carousel-item" style="height: 65vh">
      <div class="figure">
        <%= image_tag 'merouan_bounekraf.jpg', class:'d-block w-100', style:'height: 65vh; object-fit: cover;' %>
        <figcaption style="position: relative; bottom: 60vh; color: gray; text-align: left", class="ml-5">
          <h2 style="font-family: 'Avenir', serif;">Mérouan Bounekraf</h2>
          <h5>Candidat Top Chef 2019 • Jury "Mon gâteau est le meilleur de France"</h5>
        </figcaption>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#amex-carousel" role="button" data-slide="prev">
    <span class="swiper-button-prev swiper-button-cookoon swiper-button-white d-sm-block" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#amex-carousel" role="button" data-slide="next">
    <span class="swiper-button-next swiper-button-cookoon swiper-button-white d-sm-block" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
