.small-labels {
  .form-control-label {
    color: $gray;
    font-size: 11px;
    margin: 0;
  }
  .form-control {
    padding: 0;
  }
}

.form-control:disabled {
  background: inherit;
}

legend {
  display: none
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border-radius: 4px;
  height: 18px;
  width: 18px;
  background: #fff;
  border: 1px solid #ccc;

}

input[type="checkbox"]:checked {
  background: $primary;
  &:before {
    font-family: $font-awesome;
    content: '\f00c';
    display: block;
    color: white;
    font-size: 16px;
    position: absolute;
    top: -4px;
  }
}

input[type="checkbox"]:focus {
  outline: none;
}

label.collection_check_boxes {
  margin-left: 10px;
  margin-bottom: 0px;
}

label.disabled > abbr {
  display: none;
}

.reservation .form-check {
  display: flex;
  border-top: 1px solid $gray;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
}

.form-check-input {
  margin-top: 0.1rem;
}

#new_reservation > .form-group.hidden {
  margin-bottom: 0 !important;
}

.form-check-label {
  margin-left: 0.5rem;
}

.form-group.date.user_born_on > div.d-flex.flex-row.justify-content-between.align-items-center {
  justify-content: flex-start !important;
  > select {
    width: fit-content;
    margin-left: 0 !important;
    margin-right: 0.75rem !important;
  }
}
