<h4 style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;"><%= cookoon.name %></h4>
<p class="mb-1" style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;"><i class="fas fa-map-marker-alt"></i> <%= cookoon.address %></p>
