<div class="container">
  <h2>Mes moyens de paiement</h2>

  <% if @stripe_sources.blank? %>
    <div class="information-card text-center">
      <div class="information-card-picto">
        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
      </div>
      <div class="information-card-title">
        <p>Aucune carte associée</p>
      </div>
      <div class="information-card-text">
        <p>
          Vous pouvez ajouter votre carte de paiement en toute confiance : votre numéro de carte est crypté contre toute
          violation, et vous ne serez pas débité quand votre Hôte n'accepte pas votre demande de location
        </p>
      </div>
    </div>
  <% else %>
    <ul class="fa-ul fs-16">
      <% @stripe_sources.data.each_with_index do |card_data, index| %>
        <li><i class="fa-li co co-cb"></i>
          <div class="flex space-between">
            <div>
              <%= "(Principale)" if index.zero? %>
              <%= display_credit_card_for card_data %>
            </div>
            <%= link_to credit_card_path(card_data.id), remote: true, method: :delete, class: 'no-button slowLoad' do %>
              <i class="fa fa-times fs-20"></i>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>

  <!-- Trigger modal with cb form -->
  <div class="padded text-center">
    <button type="button" class="button button-blue" data-toggle="modal" data-target="#credit-card-modal">
      Ajouter une carte
    </button>
  </div>
</div>

<div class="modal fade" id="credit-card-modal" tabindex="-1" role="dialog" aria-labelledby="creditCardModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="creditCardModalLabel">Ajouter une carte</h4>
      </div>
      <div class="modal-body" style='padding: 15px;'>
        <%= render 'form' %>
        <input type="text" id="invisible-input" style="position: absolute; cursor: default; width: 1px; height: 1px; opacity: 0;">
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<script>
  // iOS keyboard fix TODO: FC 08feb18 still needed if integrated with Stimulus?
  $('#credit-card-modal').on('hide.bs.modal', function () {
    $('#invisible-input').focus();
    $('#invisible-input').blur();
  })
</script>
