.service(
  data-controller="service"
  data-service-category=@category
  data-service-selected=@selected.to_s
  data-service-url=@url
  data-service-method=@method
  data-service-quantity=@quantity
)
  .service-icon(
    class=(classnames('service-icon-selected': @selected == 'true', 'large': large?))
    data-action='click->service#toggle'
    data-target="service.icon"
  )
    .service-icon-group
      .co(class="co-service-#{@icon_name}")
      p.service-icon-category-name = @display_name.html_safe

  input#service-quantity(
    class=classnames('d-none': (@quantity.blank? || @category == 'special'))
    value=@quantity
    data-target="service.quantityInput"
    data-action="change->service#updateQuantity"
  )
