.service {
  position: relative;
  &-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid gray;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    &.large {
      width: 100px;
      height: 100px;
    }
    &-selected {
      background: var(--primary);
      color: white;
      border: none;
      border-radius: 10px;
    }
    &-category-name {
      font-size: 12px;
      line-height: 15px;
    }
    .co {
      font-size: 30px;
    }
  }
}

.service-quantity-container {
  position: absolute;
  bottom: -30px;
  left: -10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

#service-quantity {
  width: 25px;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 16px;
  color: var(--blue);
}
