.service {
  position: relative;
  &-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid gray;
    text-align: center;
    cursor: pointer;
    &.large {
      width: 100px;
      height: 100px;
    }
    &-selected {
      background: var(--primary);
      color: white;
      border: none;
      border-radius: 10px;
    }
    &-category-name {
      font-size: 9px;
      line-height: 10px;
    }
    .co {
      font-size: 30px;
    }
  }
}

#service-quantity {
  width: 25px;
  position: absolute;
  bottom: -30px;
  left: 20px;
}
