.service {
  padding-top: 10px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid gray;
  text-align: center;
  &-selected {
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 10px;
  }
  i {
    font-size: 30px;
  }
}
