<div class="container">
  <p>
    Les champs listés ci-dessous sont nécéssaires pour nous permettre de vous
    transferer les paiements en votre faveur.
    Pour des raisons de sécurité nous ne stockons pas ces informations.
  </p>

  <%= render 'form' %>
</div>

<script type="text/javascript">
  var stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
  var $myForm = $('.stripe');
  $myForm.submit(handleForm);
</script>
