.quote {
  &-attribute-box {
    background-color: #06657f;
  }

  &-index {
    display: flex;
    &-list {
      flex: 4;
      height: 100vh;
      overflow: scroll;
    }
    &-infos {
      padding-left: 50px;
      flex: 8;
    }
  }
}
