.pro-search {
  &-hint {
    padding-top: 10px;
    width: 64%;
  }
  &-submit {
    width: 32%;
    max-width: 351px;
  }
  &-input {
    background: white;
    padding: 20px;
    width: 32%;
    max-width: 351px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray);
    cursor: pointer;
    position: relative;
    i {
      font-size: 24px;
    }
    &-selection {
      background: white;
      position: absolute;
      width: 100%;
      left: 0;
      z-index: 3;
      bottom: -215px;
      text-align: left;
      max-height: 207px;
      overflow: scroll;
      &-item:not(:last-child) {
        border-bottom: 1px solid var(--primary);
      }
      &-item {
        padding: 15px 10px;
        &:hover {
          background: var(--primary);
          color: white;
        }
      }
    }
  }
}
