---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&country=FR&email=tester49%40example.com&account_token=ct_1ClzCbJwSREaPZl4jGnvdTZK
    headers:
      Authorization:
      - Bearer sk_test_lHL6MqAWBqXebJkS7jgd1sMi
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "The token ct_1ClzCbJwSREaPZl4jGnvdTZK has already been used. Each account token can only be used once to create or update an account.",
            "param": "account_token",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 09 Jul 2018 13:16:01 GMT
recorded_with: VCR 4.0.0
