---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=custom&country=FR&email=tester1%40example.com&account_token=ct_1C3hTQJwSREaPZl4mtYYczWD
    headers:
      Authorization:
      - Bearer sk_test_lHL6MqAWBqXebJkS7jgd1sMi
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-08-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "The token ct_1C3hTQJwSREaPZl4mtYYczWD has already been used. Each account token can only be used once to create or update an account.",
            "param": "account_token"
          }
        }
  recorded_at: Fri, 09 Mar 2018 11:54:23 GMT
recorded_with: VCR 4.0.0
