<div class="container">
  <h2>Je modifie mon profil</h2>

  <%= render 'form' %>

  <div class="text-center py-3">
    <%= link_to destroy_user_session_path, method: :delete, class: 'no-button', remote: true do  %>
      <i class="fas fa-power-off" aria-hidden="true"></i> Se déconnecter
    <% end %>
  </div>
</div>
