<% content_for :navbar do %>
  <%= render 'shared/navbar_light', url: new_user_session_path %>
<% end %>

<div class="container">
  <h2><%= t('.change_your_password') %></h2>

  <%= render 'edit_form' %>
</div>
