<% content_for :navbar_back_url, new_user_session_path %>

<div class="container mt-5 mb-5">
  <h4>Vous avez perdu votre mot de passe ?</h4>
  <h4 style="margin-bottom: 25px">Nous vous envoyons les instructions pour le renouveler</h4>

  <%= render 'new_form' %>
</div>
