.cookoon-nav {
  &-infos {
    display: flex;

    &-service {
      flex: 6;
      display: flex;
      padding: 10px;
      align-items: center;
    }
    &-user {
      flex: 1;
      display: flex;
      color: white;
      justify-content: space-between;
      padding: 10px;
      align-items: center;
      position: relative;
      max-height: 50px;
    }
  }
  &-navigation {
    display: flex;
    color: white;
    align-items: center;
    padding: 10px;

    a {
      color: white;
    }

    ul {
      margin: 0;
    }

    .logo {
      display: flex;
      align-items: center;
    }
    
    .menu {
      display: flex;
      justify-content: space-around;
      width: 80%;
    }
  }
}

.navigation-dropdown-menu {
  display: none;
  &--opened {
    display: block;
    position: absolute;
    background: white;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 15px;
    z-index: 3;
    box-shadow: 0px 14px 10px rgba(0, 0, 0, .4);
  }

  &-item {
    display: block;
    color: black;
    padding: 5px 0;
    &:hover {
      color: black;
      text-decoration: underline;
    }
  }
}

@media (max-width: 992px) {
  .cookoon-nav-infos-user {
      flex: 14;
  }
}