.cookoon-nav {
  &-infos {
    display: flex;

    &-service {
      flex: 6;
      display: flex;
      padding: 10px;
      align-items: center;
    }
    &-user {
      flex: 1;
      display: flex;
      color: white;
      justify-content: space-between;
      padding: 10px;
      align-items: center;
      position: relative;
      max-height: 50px;
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
  }

  &-hostlink {
    flex: 1;
  }

  &-navigation {
    display: flex;
    color: white;
    align-items: center;
    padding: 10px;
    flex: 6;

    a {
      color: white;
    }

    ul {
      margin: 0;
    }

    .logo {
      display: flex;
      align-items: center;
    }

    .menu {
      width: 100%;
    }
    &-amex {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      @media(max-width: 575px) {
        flex-direction: column;
      }
      > .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @media(max-width: 575px) {
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          padding-top: 1rem;
        }
      }
    }
  }
}

.navigation-dropdown-menu {
  display: none;
  &--opened {
    display: block;
    position: absolute;
    background: white;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 15px;
    z-index: 3;
    box-shadow: 0px 14px 10px rgba(0, 0, 0, .4);
  }

  &-item {
    display: block;
    color: black;
    padding: 8px 0;
    &:hover {
      color: black;
      text-decoration: underline;
    }
  }
}

@media (max-width: 992px) {
  .cookoon-nav-infos-user {
      flex: 14;
  }
}
