.navbar-cookoon {
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  line-height: normal;
  &-back,
  &-fixed-back {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &-fixed-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    a {
      color: white;
    }
  }
  &-none {
    display: none;
  }
}
