<%= simple_form_for [:host, @reservation], remote: true do |f| %>
  <div class="flex-container">
    <div class='service-presentation'>
      <p>
        Ajouter une aide ménagère - <span id="cleaning-price">15</span> € ?
      </p>
      <p class="service-description">
        L’aide ménagère passera dans votre Cookoon après la location selon l’heure qui vous convient.
      </p>
    </div>
    <div class="service-input">
      <div class="form-group boolean optional reservation_cleaning">
        <input value="0" type="hidden" name="reservation[cleaning]">
        <input class="boolean optional hidden reservation-option" type="checkbox" value="1" name="reservation[cleaning]" id="reservation_cleaning" data-price="20">
        <label class="boolean optional toggle" for="reservation_cleaning">
          <span class="toggle-handler"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="flex-container">
    <div class='service-presentation'>
      <p>
        Ajouter un concierge - <span id="janitor-price">15</span> € ?
      </p>
      <p class="service-description">
        Le concierge récupère vos clés, assure le check-in et le check-out puis vous rend vos clés.
      </p>
    </div>
    <div class="service-input">
      <div class="form-group boolean optional reservation_janitor">
        <input value="0" type="hidden" name="reservation[janitor]">
        <input class="boolean optional hidden reservation-option" type="checkbox" value="1" name="reservation[janitor]" id="reservation_janitor" data-price="20">
        <label class="boolean optional toggle" for="reservation_janitor">
          <span class="toggle-handler"></span>
        </label>
      </div>
    </div>
  </div>
  <hr style="border-top: 1px solid white">
  <div class="text-right">
    <p>Vous recevrez : <span id="display-price"><%= @reservation.payout_price_for_host %></span> €</p>
  </div>
  <% if @reservation.pending_or_paid? %>
    <div class="flex-container">
      <%= f.submit 'Refuser', name: "refuse", class: 'button button-white' %>
      <%= f.submit 'Accepter', name: "accept", class: 'button button-white slowLoad' %>
    </div>
  <% end %>
<% end %>
