<div class="information-card text-center py-5 mb-5">
  <div class="information-card-picto">
    <i class="far fa-question-circle" aria-hidden="true"></i>
  </div>
  <div class="information-card-title">
    <p>Rien pour le moment !</p>
  </div>
  <div class="information-card-text">
    <p>Aucun utilisateur n'a encore effectué de demande sur l'un de vos Cookoon.</p>
    <p>C'est ici que vous pourrez suivre les réservations concernant vos Cookoons, c'est votre espace Hôte.</p>
  </div>
</div>
