<div class="container">
  <div class="reservation-card">
    <%= render 'user_infos', reservation: @reservation %>
    <%= render 'form' %>
    <div class="flex-container light-padded">
      <b>Informations sur le locataire</b>
    </div>
    <div class="flex-container">
      <p><%= @reservation.user.full_name %></p>
    </div>
    <div class="flex-container">
      <p><%= @reservation.user.description %></p>
    </div>
  </div>
</div>
