div(class=classnames(container: @device == :desktop))
  h1.my-4 Mes demandes de réservations

  ul.nav.nav-pills.mb-2
    li.nav-item
      a.nav-link.active href="#active" data-toggle="pill" role="tab" A traiter#{render 'shared/pending_reservations_count'}
      /a.nav-link.actived.d-flex.justify-content-start href="#active" data-toggle="pill" role="tab"
      /  div A traiter
      /  div #{render 'shared/pending_reservations_count'}

    li.nav-item
      a.nav-link href="#inactive" data-toggle="pill" role="tab" Passées

  .tab-content.py-3
    .tab-pane.fade.show.active id="active" role="tabpanel"
      = reservations_list_or_empty_card(@active_reservations)

    .tab-pane.fade#inactive role="tabpanel"
      = reservations_list_or_empty_card(@active_reservations)
