<%= content_for :navbar_back_url, host_dashboard_path %>
<%= content_for :navbar_content do %>
  <h4 class='text-primary'>Mes réservations</h4>
<% end %>

<div class="container">
  <ul class="nav nav-pills mb-2">
    <li class="nav-item">
      <a href="#active" class="nav-link active" data-toggle="pill" role="tab">À traiter</a>
    </li>

    <li class="nav-item">
      <a href="#inactive" class="nav-link" data-toggle="pill" role="tab">Passées</a>
    </li>
  </ul>

  <div class="tab-content py-3">
    <div class="tab-pane fade show active" id="active" role="tabpanel" >
      <%= reservations_list_or_empty_card(@active_reservations) %>
    </div>

    <div class="tab-pane fade" id="inactive" role="tabpanel" >
      <%= reservations_list_or_empty_card(@inactive_reservations) %>
    </div>
  </div>
</div>
