<div class="navbar-cookoon">
  <div class="navbar-container">
    <i class="fa fa-bars notifiable ssm-toggle-nav" aria-hidden="true">
      <% if notifiable_reservations? || notifiable_reservation_requests? %>
        <span class="notif notif-topbar"></span>
      <% end %>
    </i>
    <%= link_to root_path do %>
    <i class="co co-logo fa-2x" aria-hidden="true"></i>
    <% end %>
  </div>
</div>
