.navbar-pro {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin: 0 auto;
  &-actions {
    a {
      color: white;
      margin-left: 20px;
    }    
  }
}
