<% content_for :navbar do %>
  <div></div>
<% end %>

<div class="home-wrapper text-center" data-controller="store-message" data-store-message-device="<%= @device %>">
  <div class="home-container">
    <div class="home-title title-block">
      <h1>COOKOON</h1>
      <h3>RECEVONS PARTOUT !</h3>
    </div>
    <div class="home-description">
      <p>
        Cookoon est un réseau de confiance, exclusif.
      </p>
      <p>
        Il permet à ses membres d'organiser des événements du quotidien chez d'autres membres
        <br>et de rentabiliser leur appartement durant leurs absences.
      </p>
    </div>
    <div class="home-links links-block">
      <%= link_to 'EN SAVOIR +', 'https://cookoon.fr/', target: :_blank, class: 'no-button' %>
      <%= link_to 'ACCÈS MEMBRE', new_user_session_path, class: 'button button-blue' %>
    </div>
  </div>
</div>

<!-- We are not using geoLoc currently
Uncomment to set a cookie[:lat_lng] -->
<!-- <script>
  getGeoLocation()
</script> -->
