<div class="container">
  <h2>Mes contacts utiles</h2>

  <h4>Une question ?</h4>
  <p>
    Vous trouverez toutes les réponses sur notre centre d'aide.
  </p>
  <div class="text-center thin-padded">
    <%= link_to 'centre d’aide', 'https://aide.cookoon.fr', target: '_blank', class: 'btn btn-default button button-blue' %>
  </div>

  <hr>

  <h4>Une demande ? Une envie ?</h4>
  <p>
    Vous n'avez pas trouvé la réponse à votre question ?
    N'hésitez pas à nous contacter, notre concierge répond à toutes vos questions ou besoins.
  </p>
  <div class="text-center thin-padded">
    <%= mail_to "concierge@cookoon.fr", "Contacter notre concierge", class: 'btn btn-default button button-blue', target: "_blank" %>
  </div>

  <hr>

  <h4>Un incident ?</h4>
  <b>Vous devez déclarer dans les plus brefs délais les détails de l'incident à notre agent général AXA</b>
  <div class="text-center thin-padded">
    <%= mail_to "agence.fxcombe1@axa.fr", "Contacter François-Xavier Combes", class: 'btn btn-default button button-blue', target: "_blank" %>
  </div>

</div>
