<div class="container">
  <h4>Vous avez une question ?</h4>
  <div class="padded">
    <p>Vous pouvez trouver toutes les réponses à vos questions sur notre centre d'aide.</p>
    <p><%= link_to raw("Rendez-vous sur la FAQ en <strong class='text-blue'>cliquant ici</strong>"), 'https://aide.cookoon.fr', target: "_blank"%></p>
  </div>

</div>
<div class="card-bottom light-padded">
  <div class="card-bottom-title">
    <h4>Nous contacter ?</h4>
  </div>
  <div class="card-bottom-content">
    <p>
      Vous n'avez pas trouvé la réponse à votre question ?
      N'hésitez pas à nous contacter, notre concierge répond à toutes vos questions
      ou besoins.
    </p>
  </div>
  <div class="card-bottom-footer">
    <p class='fat-text'><strong>concierge@cookoon.fr</strong></p>
  </div>
</div>
