<div class="container">
  <h4>Vous avez une question ?</h4>
  <p class="padded">Vous pouvez trouver toutes les réponses à vos questions sur notre centre d'aide.

  Rendez-vous sur https://aide.cookoon.fr</p>
</div>
<div class="card-bottom light-padded">
  <div class="card-bottom-title">
    <h4>Nous contacter ?</h4>
  </div>
  <div class="card-bottom-content">
    <p>
      Vous n'avez pas trouvé la réponse à votre question ?
      N'hésitez pas à nous contacter, notre concierge répond à toutes vos questions
      ou besoins.
    </p>
  </div>
  <div class="card-bottom-footer">
    <p class='fat-text'><strong>concierge@cookoon.fr</strong></p>
  </div>
</div>
