<% content_for :navbar_type, :none %>

<div class="home-wrapper text-center" data-controller="store-message" data-store-message-device="<%= @device %>">
  <div class="home-container">
    <div class="home-title title-block">
      <h1>COOKOON</h1>
      <h3>RECEVONS PARTOUT !</h3>
    </div>
    <div class="home-description">
      <p>
        <b>
          Cookoon vous permet de louer un espace privé à un autre membre de la communauté
          pour quelques heures en quelques clics.
        </b>
      </p>
      <%= link_to 'ACCÈS MEMBRE', new_user_session_path, class: 'btn btn-action btn-primary btn-block' %>
    </div>
    <div class="home-links links-block">
      <%= link_to 'EN SAVOIR +', 'https://cookoon.fr/', target: :_blank, class: 'no-button' %>
      <%= link_to "POSTULER AVEC MON APPARTEMENT", 'https://cookoon.typeform.com/to/iY7Heh', class: 'btn btn-action-sm btn-mw-66 btn-secondary' %>
    </div>
  </div>
</div>

<!-- We are not using geoLoc currently
Uncomment to set a cookie[:lat_lng] -->
<!-- <script>
  getGeoLocation()
</script> -->
