.search {
  background-color: #004254;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  .placeholder {
    background-color: white;
    color: #004254;
    z-index: 1;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    font-family: 'GFS Didot', serif;
    font-size: 1.3125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div,
    i,
    svg {
      z-index: 1;
    }
  }
  .body-wrapper {
    border-bottom: 1px solid white;
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    .body {
      background-color: white;
      color: #004254;
      padding-left: 2rem;
      padding-right: 2rem;
      display: none;
      overflow: overlay;
      .main {
        margin-top: 3rem;
        margin-bottom: 3rem;
        > * {
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
        .date {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .duration {
          .slider-container {
            margin-left: 25px;
            margin-right: 25px;
          }
          .description {
            margin-top: 1rem;
            color: #343a40;
            text-align: center;
          }
        }
        .people {
          .slider-container {
            margin-left: 25px;
            margin-right: 25px;
          }
        }
        .title {
          font-family: 'GFS Didot', serif;
          font-size: 1.09375rem;
        }
      }
      .cta {
        display: none;
        position: absolute;
        bottom: -20px;
        right: 2rem;
        background-color: #004254;
        color: white;
        padding: 0.25rem 2rem 0.25rem 2rem;
        font-family: 'GFS Didot', serif;
        font-size: 1.3125rem;
        border: none !important; // TODO: FC 26apr18 remove when bootstrap style globally overriden
      }
    }
  }
  .example {
    text-align: center;
  }
}
