.search {
  background: white;
  border: 1px solid gainsboro;
  &-home {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    top: -65px;
  }
  &-inputs-container {
    padding: 15px;
    flex: 1;
  }
  &-inputs {
    display: flex;
  }
}
