.search {
  background-color: var(--primary);
  color: var(--white);
  padding: 2rem 0;
  position: relative;
  .placeholder {
    background-color: var(--white);
    color: var(--primary);
    z-index: 1;
    cursor: pointer;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    font-family: 'GFS Didot', serif;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div,
    i,
    svg {
      z-index: 1;
    }
    i {
      font-size: 2.5rem;
      margin: -1.25rem 0 -1.5rem;
    }
  }
  .body-wrapper {
    border-bottom: 1px solid var(--white);
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    .body {
      background-color: var(--white);
      color: var(--primary);
      padding-left: 2rem;
      padding-right: 2rem;
      display: none;
      overflow: overlay;
      .main {
        margin-top: 3rem;
        margin-bottom: 3rem;
        > * {
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
        .title {
          font-family: 'GFS Didot', serif;
          font-size: 1.1rem;
          font-weight: bold;
        }
        .start-at {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .detail {
            color: #6c757d;
            .date-placeholder {
              position: relative;
              color: var(--primary);
              font-weight: bold;
              .date-input {
                position: absolute;
                top: 0;
                height: 100%;
                left: 0;
                width: 100%;
                opacity: 0;
              }
            }
            .time-placeholder {
              position: relative;
              color: var(--primary);
              font-weight: bold;
              .time-select {
                position: absolute;
                top: 0;
                height: 100%;
                left: 0;
                width: 100%;
                cursor: pointer;
                opacity: 0;
              }
            }
          }
          .search_start_at {
            display: none;
          }
        }
        .duration {
          .slider-container {
            margin: 0.4rem 1.5rem 0;
          }
          .description {
            margin-top: 1rem;
            margin-left: 1rem;
            color: var(--gray);
            font-size: 0.75rem;
          }
        }
        .people-count {
          .flex-container {
            display: flex;
            align-items: flex-end;
            padding: 0 0.5rem;
            .slider {
              &-decreaser {
                display: none;
                flex-grow: 1;
                cursor: pointer;
                text-align: center;
                font-size: 2rem;
                margin-bottom: 0.3rem;
              }
              &-container {
                width: calc(100vw - 9rem);
                margin: 0.4rem 1rem 0;
              }
              &-increaser {
                flex-grow: 1;
                cursor: pointer;
                text-align: center;
                font-size: 2rem;
                margin-bottom: 0.3rem;
              }
            }
          }
        }
        .errors-wrapper {
          color: var(--red);
          font-weight: lighter;
        }
      }
      .cta {
        display: none;
        position: absolute;
        bottom: -1.25rem;
        right: 2rem;
        background-color: var(--primary);
        color: var(--white);
        cursor: pointer;
        padding: 0.25rem 2.5rem;
        font-family: 'GFS Didot', serif;
        font-size: 1.25rem;
        border: 1px solid var(--white);
        border-radius: 0;
      }
    }
  }
  .subtitle {
    margin: 0.5rem 2rem 0;
    padding: 0 1rem;
    font-size: 0.75rem;
    font-weight: lighter;
  }
  .pusher {
    display: none;
    .main {
      margin-bottom: 2rem;
      height: 20rem;
    }
    .errors-wrapper {
      margin: 0 2rem;
      color: var(--primary);
      font-weight: lighter;
    }
    .margin-top-2rem {
      margin-top: 2rem;
    }
  }
}
