= render 'chefs/index_content', reservation: @reservation, back_button_path: un_chef_pour_vous_reservation_cookoons_path(@reservation), chefs_available: @chefs_available, chefs_unavailable: @chefs_unavailable
