<div class="modal fade" id="payment_succeed" tabindex="-1" role="dialog" aria-labelledby="paymentSucceedLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <i class="co co-reversed-success fa-5x" aria-hidden="true" style="-webkit-text-fill-color:white"></i>
        <h4>Votre demande de location a bien été envoyée.</h4>
        <p>
          Vous avez demandé un traiteur, pour nous permettre de composer une offre qui vous convient parfaitement,
          veuillez prendre le temps de répondre à ces quelques questions.
        </p>
      </div>
      <div class="modal-footer justify-content-center">
        <%= link_to 'ALLONS-Y !', 'https://cookoon.typeform.com/to/PWPzDU', class: "button button-white" %>
      </div>
    </div>
  </div>
</div>

<script>
  $('#payment_succeed').modal('show');
</script>
