<div class="modal fade" id="reservation_completed" tabindex="-1" role="dialog" aria-labelledby="paymentSucceedLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="py-3">
          <i class="co co-reversed-success fa-5x" aria-hidden="true" style="-webkit-text-fill-color:white"></i>
          <h4>Votre message a bien été enregistré !</h4>
        </div>
        <p>
          Si votre location est proche et que vous avez besoin rapidement d’un Cookoon,
          n’hésitez pas à faire plusieurs demandes de locations ou à contacter directement
          le concierge Cookoon.
        </p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="button button-white" data-dismiss="modal" aria-label="Close">CONTINUER</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#reservation_completed').modal('show');
</script>
