<div class="information-card text-center">
  <div class="information-card-picto">
    <i class="far fa-question-circle" aria-hidden="true"></i>
  </div>
  <div class="information-card-title">
    <p>Rien pour le moment !</p>
  </div>
  <div class="information-card-text">
    <p>Vous n'avez pas encore effectué de demande de réservation.</p>
    <p>Qu'attendez vous ?</p>
    <p>Avez-vous vu nos derniers Cookoons ?</p>
  </div>
  <div class="information-card-cta">
    <%= link_to 'Voir les Cookoons', cookoons_path, class: 'button button-white' %>
  </div>
</div>
