<div class="information-card text-center">
  <div class="information-card-picto">
    <i class="far fa-question-circle" aria-hidden="true"></i>
  </div>
  <div class="information-card-title">
    <p>Rien pour le moment !</p>
  </div>
  <div class="information-card-text">
    <p>Vous n'avez pas encore effectué de demande de réservation.</p>
    <p>Qu'attendez vous ?</p>
    <p>Organisez votre premier événement !</p>
  </div>
  <div class="information-card-cta">
    <%= link_to 'Chercher un Cookoon', root_path, class: 'btn btn-action-sm bg-white' %>
  </div>
</div>
