<div class="information-card text-center py-5 mb-5">
  <div class="information-card-picto">
    <i class="far fa-question-circle" aria-hidden="true"></i>
  </div>
  <div class="information-card-title">
    <p>Rien pour le moment !</p>
  </div>
  <div class="information-card-text">
    <p>Vous n'avez pas encore de réservation.</p>
    <p>Qu'attendez-vous pour organiser votre premier évènement ?</p>
  </div>
  <div class="information-card-cta">
    <%= link_to 'Organisez votre événement', root_path, class: 'btn-cookoon btn-cookoon-primary' %>
  </div>
</div>
