<b>Options</b>
<% @reservation.services.each do |service| %>
  <div class="d-flex-default ml-3">
    <%= service.class::DISPLAY[service.category.to_sym][:mail_display_name] %>
    <span><%= service.price ? humanized_money_with_symbol(service.price) : 'SUR DEVIS' %></span>
  </div>
<% end %>
<% if @reservation.services.any? %>
  <%= render 'reservations/janitor_message' %>
<% end %>
