<b>Options</b>
<% @reservation.services.each do |service| %>
  <div class="d-flex-default ml-3">
    <%= service.name %>
    <span><%= service.price ? humanized_money_with_symbol(service.price) : 'SUR DEVIS' %></span>
  </div>
<% end %>
<div class="d-flex-default ml-3">
  Frais
  <span><%= humanized_money_with_symbol(@reservation.services_tax) %></span>
</div>
<%= render 'reservations/janitor_message' %>
