<div class="container">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#active" aria-controls="active" role="tab" data-toggle="tab">En cours</a></li>
    <li role="presentation"><a href="#inactive" aria-controls="inactive" role="tab" data-toggle="tab">Passées</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content thin-padded">
    <div role="tabpanel" class="tab-pane active" id="active">
      <%= reservations_list_or_empty_card(@active_reservations) %>
    </div>
    <div role="tabpanel" class="tab-pane" id="inactive">
      <%= reservations_list_or_empty_card(@inactive_reservations) %>
    </div>
  </div>
</div>
