<p>Bonjour <%= @tenant.first_name %>,</p>
<p>Voici tous les convives que vous avez invité à votre événement du <%= display_date_for(@reservation.start_at) %> :</p>

<ul>
  <% @reservation.reservation_guests.each do |reservation_guest| %>
    <li><%= reservation_guest.guest %>, le <%= display_date_for(reservation_guest.created_at) %></li>
  <% end %>
</ul>

<p>L'adresse du Cookoon leur a également été communiquée.</p>
