i.co.co-logo.fa-5x.text-primary.mb-3
p Vous n'avez pas reçu d'invitation à rejoindre Cookoon par un de nos membres ?

= link_to 'Je propose mon appartement', 'https://cookoon.typeform.com/to/iY7Heh', class: 'btn btn-primary btn-action'

p.mb-0
  | Grand loft ou petit appartement cosy ?
  br Qu'il puisse accueillir un dîner grand siècle ou un entretien professionnel, votre appartement est peut-être la clef pour rejoindre Cookoon.

= c 'hr', icon: 'ou'

= link_to 'Je me présente', 'https://cookoon.typeform.com/to/mEeE1Z', class: 'btn btn-primary btn-action'

p Faites-nous parvenir votre candidature, elle sera inscrite sur liste d'attente et examinée avec bienveillance par un comité d'Hôtes
