<p data-toggle='modal' data-target='#first-signin' class='text-primary font-italic pointer'><%= t('devise.sessions.form.first_sign_in') %></p>

<div class="modal fade" id="first-signin" tabindex="-1" role="dialog" aria-labelledby="firstSigninLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <i class="co co-reversed-success fa-5x" aria-hidden="true" style="-webkit-text-fill-color:white"></></i>
        <h4>Première Connexion ?</h4>
        <p>
          C'est la première fois que vous vous connectez ? Vous devez suivre le lien vers l'invitation que vous avez reçu par mail
        </p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="button button-white" data-dismiss="modal" aria-label="Close">J'AI COMPRIS</button>
      </div>
    </div>
  </div>
</div>
