<% content_for :navbar_back_url, root_path %>

<div class="container mb-4">
  <div class="text-center">
    <h1><%= image_tag 'logo-home.png', alt: 'COOKOON - RECEVONS PARTOUT !', class: 'w-15rem' %></h1>
    <p id="devise-failure-invalid" class="text-danger"></p>
  </div>

  <%= render 'form' %>
</div>
