<% content_for :navbar_back_url, root_path %>

<div class="container">
  <div class="home-title title-block text-center">
    <h1>COOKOON</h1>
    <h3>RECEVONS PARTOUT !</h3>
  </div>
  <div class="text-center">
    <p id="devise-failure-invalid" class="text-danger"></p>
  </div>

  <div class="mb-4">
    <%= render 'form' %>
  </div>
</div>
