<% content_for :navbar do %>
  <%= render 'shared/navbar_light', url: root_path %>
<% end %>

<div class="container">
  <div class="home-title title-block text-center">
    <h1>COOKOON</h1>
    <h3>RECEVONS PARTOUT !</h3>
  </div>
  <div class="text-center">
    <p id="error_messages" class="text-danger"></p>
  </div>

  <%= render 'form' %>
</div>
