<div class="modal fade" id="accepted_successfully" tabindex="-1" role="dialog" aria-labelledby="acceptedSuccessfullyLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <i class="co co-check fa-5x" aria-hidden="true" style="-webkit-text-fill-color:white"></></i>
        <h4 class='pb-3'>Un nouveau membre !</h4>
        <p>Votre mot de passe a bien été défini.</p>
        <p>Bienvenue dans la communauté Cookoon !</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="button button-white" data-dismiss="modal" aria-label="Close">CONTINUER</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#accepted_successfully').modal('show');
</script>
