<div class="modal fade" id="invited_successfully" tabindex="-1" role="dialog" aria-labelledby="invitedSuccessfullyLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <i class="co co-check fa-5x" aria-hidden="true" style="-webkit-text-fill-color:white"></></i>
        <h4 class='pb-3'>Un nouveau membre !</h4>
        <p>Votre invitation a bien été envoyée.</p>
        <p>Grâce à vous, la communauté Cookoon s'agrandit, merci !</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="button button-white" data-dismiss="modal" aria-label="Close">CONTINUER</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#invited_successfully').modal('show');
</script>
