<div class="modal fade" id="invited_successfully" tabindex="-1" role="dialog" aria-labelledby="invitedSuccessfullyLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title">Un nouveau membre</h3>
        <button type="button" data-dismiss="modal" aria-label="Close"class="close">x</button>
      </div>

      <div class="modal-body text-center">
        <p>Votre invitation a bien été envoyée.</p>
        <p>Grâce à vous, la communauté Cookoon s'agrandit, nous vous en remercions</p>
      </div>

      <div class="modal-footer justify-content-center">
        <%= link_to 'Autre invitation', new_user_invitation_path, class: 'btn-cookoon btn-cookoon-primary' %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#invited_successfully').modal('show');
</script>
