<% content_for :navbar do %>
  <%= render 'shared/navbar_light', url: new_user_session_path %>
<% end %>

<div class="container" data-controller="store-message" data-store-message-device="<%= @device %>">
  <h2><%= t 'devise.invitations.edit.header' %></h2>
  <%= render 'edit_form' %>
</div>
