<% content_for :navbar_type, :none %>

<div class="container py-5" data-controller="store-message" data-store-message-device="<%= @device %>">
  <h2><%= t 'devise.invitations.edit.header' %></h2>
  <%= render 'edit_form' %>
</div>
