<div class="container">
  <h2>Parainnez un ami</h2>
  <p>(Invitations restantes : <%= current_user.invitation_limit %>)</p>

  <b>Invitez vos proches à rejoindre Cookoon : nous vous offrons des services en plus et notre reconnaissance éternelle.</b>

  <br><br>

  <%= render 'new_form' %>
</div>
