<div class="container">
  <h2>Mes invitations</h2>
  <p>Des proches souhaitent rejoindre Cookoon ?</p>
  <p>Vous pouvez les parrainer, <%= t 'devise.invitations.count', count: current_user.invitation_limit %></p>
  <p>Choisissez-les bien !</p>

  <br><br>

  <%= render 'new_form' %>
</div>

<div class="card-bottom light-padded mt-20">
  <div class="card-bottom-content">
    <p>
      Pour obtenir des invitations supplémentaires, ajoutez votre appartement sur Cookoon.
    </p>
    <p>
      Les évaluations positives des autres membres pourront également vous valoir des invitations supplémentaires.
    </p>
  </div>
</div>
