<%= simple_form_for :payment, url: reservation_payments_path(@reservation), remote: true, html: { id: 'pay-form' } do |f| %>
  <%= f.input :discount, as: :hidden, input_html: { value: 'false', data: { target: 'payments.discountInput' } } %>
  <hr>
  <div class="credit-card-select payment-block">
    <i class="fas fa-credit-card" aria-hidden="true"></i>
    <%= f.input :source, collection: @credit_cards, selected: :first, label: false, label_method: ->(card){ "#{card.brand.upcase} XXXX-XXXX-XXXX-#{card.last4}" }, value_method: ->(card){ card.id } %>
  </div>
  <div class="text-center">
    <%= f.button :submit,
                 'PAYER',
                 class: 'button button-blue',
                 data: {
                   controller: 'analytics-events',
                   action: 'click->analytics-events#reservationPaymentSubmit'
                 }
    %>
  </div>
<% end %>
