.credit-card-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .payment_source {
    flex: 10;
    margin-bottom: 1px;
  }
  i {
    flex: 1;
    font-size: 20px;
  }
}

#payment_source {
  padding-top: 1px;
  border-bottom: none;
}
