.credit-card-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 9px;
  padding-bottom: 9px;
  .payment_source {
    flex: 10;
    margin-bottom: 1px;
  }
}

#payment_source {
  padding-top: 1px;
  border-bottom: none;
}
