input.form-control,
textarea.form-control,
select.form-control {
  border-left: none;
  border-right: none;
  border-top: none;
  padding-bottom: 1px;
  &:focus {
    border-width: ($input-border-width * 2);
    padding-bottom: 0;
  }
}

.form-control.is-invalid:focus {
  box-shadow: none;
}
