.modal {
  .modal-content {
    background: $primary;
    color: $white;
    .modal-header,
    .modal-footer {
      border: none;
    }
    input.form-control,
    textarea.form-control,
    select.form-control {
      background-color: inherit;
      color: inherit;
      border-color: $white;
    }
    .close {
      opacity: 1;
      &:hover {
        opacity: 0.75;
      }
    }
  }
}
