.recap {
  &-price {
    border: 1px solid white;
    border-radius: 50px;
    padding: 15px 30px;
  }
  &-datetime {
    margin-top: 40px;
    input[readonly] {
      margin-bottom: 10px;
      background: inherit;
    }
  }
}

.recap input,
.recap select {
  background: #006f8b;
  color: white;
  text-decoration: underline;
  border: none;
  transition: none;
}

.recap input:focus,
.recap select:focus {
  border: none;
}
