.search {
  margin: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  background: $primary;
  color: $white;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 5px 12px rgba(0, 0, 0, 0.22);
  }
  &-body {
    padding-top: 1rem;
    display: none;
    input,
    select,
    input:focus,
    select:focus,
    input[readonly] {
      border-bottom: 2px solid $white;
      margin-bottom: 10px;
      background: inherit;
      color: inherit;
    }
    input::placeholder {
      color: inherit;
    }
  }
}

#search_address_clear {
  position: absolute;
  display: none;
  top: 7px;
  right: 20px;
  height: 16px;
  font-size: 16px;
  cursor: pointer;
}

.datetimepicker {
  background: $blue;
  color: $white;
  table tr th:hover,
  table tr td.day:hover,
  table tr td span:hover {
    background-color: lighten($blue, 5%) !important;
  }
  table tr td span.active.active {
    background: $blue;
  }
}

@include media-breakpoint-down(xs) {
  #infos-address {
    text-overflow: ellipsis;
    max-width: 70px;
    overflow: hidden;
    white-space: nowrap;
  }
}
