.home-wrapper {
  background: $blue; /* fallback for old browsers */
  background: linear-gradient(
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.6) 100%
    ),
    image-url('cookoon_background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.wrapper {
  min-height: 100vh;
  &-blue {
    background: $blue;
  }
  &-cream {
    background: $cream;
  }
}

.image-wrapper {
  background-size: cover;
  background-position: center;
  height: 30vh;
}
