<%= simple_form_for [:host, @inventory], html: { class: 'light-padded' }, remote: true do |f| %>
  <%= f.input :checkout_photos, as: :attachinary %>
  <%= f.input :remark, label: false, placeholder: 'Ajoutez ici les remarques que vous voulez partager à notre équipe (Ce champs peut rester vide)', input_html: { rows: 3 }  %>
  <div class="light-padded">
    <%= f.submit 'TERMINER LA LOCATION', class: 'button button-blue' %>
  </div>
<% end %>
