<%= simple_form_for [:host, @reservation, @inventory], remote: true do |f| %>
  <%= f.input :checkin_photos, as: :attachinary %>
  <div class="text-center light-padded">
    <%= f.submit 'DEMARRER LA LOCATION', class: 'button button-blue', data: { disable_with: '<i class="fa fa-spinner fa-spin" style="margin-right: 10px;"></i>Chargement'.html_safe } %>
  </div>
<% end %>
