<div class="card-bottom light-padded">
  <div class="card-bottom-title">
    <h4>C'est encore trop tôt !</h4>
  </div>
  <div class="card-bottom-content">
    <p>
      La location ne pourra démarrer que 3 heures avant l'heure de la réservation !
    </p>
  </div>
  <div class="card-bottom-footer">
    <%= link_to "J'AI COMPRIS !", host_reservations_path %>
  </div>
</div>
