<div class="card-bottom pt-5 pb-3">
  <div class="card-bottom-title mt-20">
    <h4>C'est encore trop tôt !</h4>
  </div>
  <div class="card-bottom-content">
    <p>
      La location ne pourra démarrer que 3 heures avant l'heure de la réservation !
    </p>
  </div>
  <div class="card-bottom-footer">
    <%= link_to "J'AI COMPRIS !", host_reservations_path %>
  </div>
</div>
