<div class="container">
  <h4>Vous préparez la sortie d'un locataire</h4>
  <p>Avant de terminer la location vous devez :</p>
  <ol>
    <li><strong>Faire l'état des lieux</strong></li>
    <p>
      Vérifiez ensemble l'état de votre logement.
      Pensez à prendre des photos si vous constatez une dégradation.
    </p>
    <li><strong>Récupérer vos clés</strong></li>
    <p>
      Cela peut parraître évident, mais ne négligez pas cette étape !
    </p>
    <li><strong>Ajouter une note pour notre équipe</strong></li>
    <p>
      Le champs ci-dessous est à vous !
      En cas de soucis, soyez rassurés notre équipe prendra contact avec vous.
    </p>
  </ol>
  <div class="thin-padded">
    <% if @inventory.checkin_photos.any? %>
      <h5 >Photos réalisées à l'entrée des lieux</h5>
      <%= carousel_for @inventory.checkin_photos %>
    <% end %>

    <%= render 'checkout_form' %>
  </div>
</div>
