<div class="container">
  <% unless @reservation.starts_soon? %>
    <div class="information-card text-center">
      <div class="information-card-picto">
        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
      </div>
      <div class="information-card-title">
        <h4>C'est encore trop tôt !</h4>
      </div>
      <div class="information-card-text">
        <p>
          La location ne pourra démarrer que 3 heures avant l'heure de la réservation !
        </p>
      </div>
      <div class="information-card-cta">
        <%= link_to "J'AI COMPRIS !", host_reservations_path, class: 'button button-white' %>
      </div>
    </div>
  <% end %>
  <h4>Vous accueillez un nouveau locataire</h4>
  <p>Avant de démarrer la location vous devez :</p>
  <ol>
    <li><strong>Vérifier l'identité du locataire</strong></li>
    <p>
      Notre contrat d'assurance vous couvre vous et le locataire ayant fait la demande.
      C'est à vous de vérifier la concordance des identités.
    </p>
    <li><strong>Faire l'état des lieux</strong></li>
    <p>
      C'est le moment d'expliquer à votre locataire les différentes subtilités inhérentes à votre logement.
      N'hésitez à prendre quelques photos, elles pourront être utiles en cas de conflit à la sortie.
    </p>
    <li><strong>Lui remettre les clés</strong></li>
    <p>
      Votre locataire est sur le point de pouvoir profiter de votre logement
      pour une durée de <%= @inventory.reservation.duration %> heures
      Soyez tranquille l'équipe Cookoon veille !
    </p>
  </ol>
</div>
<% if @reservation.starts_soon? %>
  <div class="container thin-padded">
    <%= render 'checkin_form' %>
  </div>
<% end %>
