#amex-carousel {
  color: gray;
  h1 {
    font-family: 'Recoleta-Regular';
    @media(max-width: 767px) {
      font-size: 75%;
    }
  }
  h5 {
    font-family: 'Avenir', serif;
    @media(max-width: 767px) {
      font-size: 75%;
    }
  }
  .carousel-inner, .carousel-item {
    height: 65vh;
  }
  img {
    display: block;
    width: 100%;
    height: 65vh;
    object-fit: cover;
  }
  .amex-carousel-figcaption {
    position: relative;
    height: 65vh;
    bottom: 65vh;
    text-align: left;
    @media(max-width: 767px) {
      padding: 1rem 1rem 4rem 1rem;
    }
    @media(min-width: 768px) {
      padding: 5rem 2rem;
    }
    @media(min-width: 1200px) {
      padding: 5rem 10rem;
    }
    &-main-picture {
      text-align: center;
    }

  }
}
