.architect_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border:2px solid #CDBB8A;
  height: 100%;
  padding: 0 1rem;
  &_build_year {
    text-align: center;
    width: fit-content;
    margin-top: -0.6rem;
    background-color: white;
    color: #CDBB8A;
    padding: 0 1rem;
    @media (max-width: 767px) {
      padding: 0 0.5rem;
    }
  }
  &_name {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    font-family: 'Avenir', serif;
    padding: 0 0.5rem;
  }
  &_title {
    padding: 0 0.5rem;
    text-align: center;
  }
}
