.btn-cookoon {
  padding: 10px 30px;
  text-transform: uppercase;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:disabled {
    background: lightgray;
    color: white !important;
    cursor: not-allowed;
  }
  &-primary {
    background: $primary;
    color: white !important;
    &:hover:not([disabled]) {
      background: darken($primary, 5%);
    }
  }
  &-secondary {
    border: 1px solid white;
    color: white !important;
    white-space: nowrap;
  }
  &-secondary-gold {
    border: 1px solid $primary;
    color: $primary !important;
    &:hover {
      border: 1px solid darken($primary, 10%);
      color: darken($primary, 10%) !important;
    }
  }
  &-disabled {
    background: lightgray;
    color: white !important;
    cursor: not-allowed;
  }
  &-search {
    white-space: normal;
    text-transform: uppercase;
    font-family: Avenir;
    color: white;
    background: none;
    border: none;
    cursor: inherit;
    &-container, &-container-submit {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 200px;
      height: 200px;
      // background: $primary;
      cursor: pointer;
      &-submit {
        padding: 56px 60px 64px;
        &:hover {
          // background: darken($primary, 5%)
          transition-duration: 0.5s;
          padding: 40px 44px 48px;
        }
      }
      &:focus {
        outline: none
      }
    }
  }
}

@media (max-width: 576px) {
  .btn-cookoon-search {
    width: 100%;
  }

  .btn-cookoon {
    padding: 10px 20px;
  }

  .btn-cookoon-search-container, .btn-cookoon-search-container-submit {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    &-submit {
      padding: 16px;
      width: 80px;
      &:hover {
        // background: darken($primary, 5%)
        transition-duration: 0.5s;
        padding: 8px;
      }
    }
  }
}
