.cookoon-card {
  border: 1px solid lightgray;
  margin-bottom: 10px;
  &-image {
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    .address-info {
      position: absolute;
      color: white;
      bottom: 0;
      left: 25px;
    }
  }
  &-body {
    padding: 20px;
  }

  &-services {
    padding: 20px;
    border-top: 1px solid lightgray;
    p {
      margin: 0;
    }
  }
}

.chef-card {
  &-image {
    height: 230px;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  &-menu {
    text-align: center;
    border: 1px solid gray;
    padding: 20px;
    min-height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
  }
}