.cookoon-card {
  border: 1px solid lightgray;
  &-image {
    height: 250px;
    background: url('https://via.placeholder.com/150');
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &-body {
    padding: 20px;
  }
  &-services {
    padding: 20px;
    border-top: 1px solid lightgray;
    p {
      margin: 0;
    }
  }
}