.cookoon-card {
  border: 1px solid lightgray;
  margin-bottom: 10px;
  &-image {
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    .address-info {
      position: absolute;
      color: white;
      bottom: 0;
      left: 25px;
    }
  }
  &-body {
    padding: 20px;
  }
  &-services {
    padding: 20px;
    border-top: 1px solid lightgray;
    p {
      margin: 0;
    }
  }
}