.cookoon_five_elements_block {
  margin-top: 1rem;
  display: grid;
  grid-gap: 1rem;

  >.second_element, >.third_element, >.fourth_element {
    background-size: cover;
    background-position: center;
    &_full_row, &_full_column {
      background-size: cover;
      background-position: center;
    }
  }

  >.fifth_element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4rem;
  }

  // lg-xl
  @media (min-width: 992px) {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(9, 1fr);
  }

  // md
  @media (min-width: 768px) and (max-width: 991px) {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
  }

  // xs-sm
  @media (max-width: 767px) {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }

  >.first_element {
    @media (min-width: 992px) {
      grid-column: 1 / span 3 ;
      grid-row: 1 / span 2;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      grid-column: 1 / span 3 ;
      grid-row: 1 / span 2;
    }
    @media (max-width: 767px) {
      grid-column: 1 / span 1 ;
      grid-row: 1 ;
    }
  }

  >.second_element {
    @media (min-width: 992px) {
      grid-column: 1 / span 3 ;
      grid-row: 3 / span 4;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      grid-column: 1 / span 3 ;
      grid-row: 3 / span 4;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }

  >.second_element_full_column {
    @media (min-width: 992px) {
      grid-column: 1 / span 3 ;
      grid-row: 1 / span 6;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      grid-column: 1 / span 3 ;
      grid-row: 1 / span 6;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }

  >.third_element {
    @media (min-width: 992px) {
      grid-column: 4 / span 6 ;
      grid-row: 1 / span 3;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      grid-column: 4 / span 3 ;
      grid-row: 1 / span 3;
    }
    @media (max-width: 767px) {
      grid-column: 2 / span 2;
      grid-row: 1;
    }
  }

  >.third_element_full_row {
    @media (min-width: 992px) {
      grid-column: 4 / span 6 ;
      grid-row: 1 / span 3;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      grid-column: 4 / span 3 ;
      grid-row: 1 / span 3;
    }
    @media (max-width: 767px) {
      grid-column: 1 / span 3;
      grid-row: 1;
    }
  }

  >.fourth_element, #map_container {
    @media (min-width: 992px) {
      grid-column: 4 / span 4 ;
      grid-row: 4 / span 3;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      grid-column: 4 / span 2 ;
      grid-row: 4 / span 3;
    }
    @media (max-width: 767px) {
      grid-column: 1 / span 2;
      grid-row: 2;
    }
  }

  >.fifth_element {
    @media (min-width: 992px) {
      grid-column: 8 / span 2;
      grid-row: 4 / span 3;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      grid-column: 6;
      grid-row: 4 / span 3;
    }
    @media (max-width: 767px) {
      grid-column: 3;
      grid-row: 2;
    }
  }

}


