.cookoon-title {
  &-wrapper {
    position: relative;
    padding: 35px;
  }
  &-content {
    position: absolute;
    top: -25px;
    left: 17px;
    z-index: 1;
    background: var(--primary);
    color: var(--white);
    width: 280px;
    padding: 10px 15px;
    h4 {
      margin-bottom: 0;
    }
  }
}
