.edito-container {
  border: 1px solid gray;
}

.edito-row {
  display: flex;
  &-reverse {
    flex-direction: row-reverse;
  }
}

.edito-content {
  flex: 1;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.edito-content-text {
  text-align: center;
  padding: 50px;
  @media (min-width: 577px) and (max-width: 767px) {
    padding: 25px;
  }
  h4 {
    color: var(--primary);
    margin-bottom: 24px;
  }
}

.edito-content-image {
  width: 100%;
  height: 100%;
  &-chef{
    background-size: cover;
    background-position: center;
  }
  &-conciergerie {
    background-size: cover;
  }
}

@media (max-width: 576px) {
  .edito-row {
    display: block;
  }
}

@media (min-width: 992px) {
  .edito-container {
    margin: 0 80px;
  }
}
