.cookoon-combined {
    display: flex;
    border: 2px solid $gold;
    
    &-input {
      border: none;
      background: transparent;
      flex: 1;
      padding: 6px;
      &:focus {
        outline: none;
      }
      &-bg-dark {
        background: transparent;
        color: white !important;
      }
    }

    input[type=submit] {
      border: none;
    }
  }

@media (max-width: 320px) {
  .cookoon-combined {
    .btn-cookoon {
      padding: 6px 13px;
    }
  }
}
