<div class="container px-0">
  <div class="row mx-0">
    <div class="d-none d-md-block col-md-4 col-lg-3 px-0 pr-3">
    </div>
    <div class="col-12 col-md-8 col-lg-9 px-0">
      <div class="breadcrumbs">
        <h1 class="text-center first-title">Les hôtes</h1>
      </div>
      <hr class="breadcrumbs-hr">
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center px-0 pb-5">
  <div class="row">

    <div class="d-none d-md-block col-md-4 col-lg-3 px-0 pr-3">
      <%= render 'shared/back_button_transparent', button_title: 'Retour au dashboard', path: admin_dashboard_path %>
    </div>

    <div class="col-12 col-md-8 col-lg-9 px-0">

      <div class="row mx-0">
        <ul class="nav nav-pills mb-2">
          <li class="nav-item">
            <a href="#missing_iban" class="nav-link active" data-toggle="pill" role="tab">Missing iban</a>
          </li>

          <li class="nav-item">
            <a href="#missing_docs" class="nav-link" data-toggle="pill" role="tab">Missing documents</a>
          </li>

          <li class="nav-item">
            <a href="#missing_nothing" class="nav-link" data-toggle="pill" role="tab">Missing nothing</a>
          </li>
        </ul>
      </div>

      <div class="row mx-0">
        <div class="tab-content py-0 py-md-3 w-100">
          <div class="tab-pane fade show active" id="missing_iban" role="tabpanel">
            <%= render "hosts_list", users: @hosts_missing_stripe_account %>
          </div>
          <div class="tab-pane fade" id="missing_docs" role="tabpanel">
            <%= render "hosts_list", users: @hosts_missing_docs %>
          </div>
          <div class="tab-pane fade" id="missing_nothing" role="tabpanel">
            <%= render "hosts_list", users: @hosts_missing_nothing %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
