.drawer {
  width: 280px;
  position: fixed;
  top: 0;
  bottom: 0;
  bottom: env(safe-area-inset-top);
  left: 0;
  z-index: 1120;
  background-color: var(--primary);
  overflow-x: visible;
  overflow-y: auto;
  transform: translate(-280px, 0);
  &-container {
    padding: 10px;
    color: white;
  }
  &-userblock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px 35px 20px;
    max-width: 280px;
  }

  a {
    color: white;
    &:focus,
    &:hover {
      color: white;
    }
  }

  .fixed-bottom {
    background: white;
    color: var(--primary);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    a {
      color: var(--primary);
      &:focus,
      &:hover {
        color: var(--primary);
      }
    }
  }

  ul {
    list-style: none;
  }

  li {
    padding: 20px 0;
    border-bottom: 1px solid white;
  }

  p {
    margin: 0;
    padding: 40px;
  }
}

.ssm-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1110;
}

.is-navOpen {
  overflow: hidden;
}
