.chef-card-menu
  p Prix unitaire: #{menu.unit_price}
  = simple_format(menu.description)
  = link_to 'Editer ce menu', edit_admin_chef_menu_path(chef, menu), class: 'btn-cookoon btn-block btn-cookoon-primary'
