<div class="no-cookoon-card text-center">
  <%= image_tag('cookoon_error', id: 'cookoon-error') %>
  <p>Il n'y a pas de Cookoon dans ce secteur.</p>
  <p>Cookon est uniquement disponible à Paris pour le moment.</p>
  <p>Nous enregistrons cependant votre recherche dans cette zone.</p>
</div>
