<!--
Variables :
number_of_perks => number of perks displayed
perks => perks that we want to be displayed
p_style: style rules to apply
div_style => style of div
-->
<!-- &nbsp: white space -->

  <div class="text-center" style="<%= div_style %>">
    <div class="mb-2" style="<%= p_style %>">
      <%# perks.limit("#{number_of_perks}".to_i).each do |perk| %>
      <% perks.includes(:perk_specification).each do |perk| %>
        <i class="<%= "#{perk.icon_name}" %> text-primary"></i>
        <%= "#{perk.name}" %>&nbsp
      <% end %>
    </div>
  </div>

<!-- Ancien code -->

<!-- Variables :
number_of_perks => number of perks displayed
row_height => height of row if it must be fixed
perks => perks that we want to be displayed -->

<!-- <div style="display: grid; grid-template-columns: repeat(<%#= number_of_perks %>, auto); grid-gap: 0.5rem; grid-template-rows: <%#= row_height %>; justify-content: start;">
  <%# perks.limit("#{number_of_perks}".to_i).each do |perk| %>
    <div>
      <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">
        <i class="<%#= "#{perk.icon_name}" %> text-primary mr-2"></i>
        <%#= "#{perk.name}" %>
      </p>
    </div>
  <%# end %>
</div> -->
