<div class="modal fade" id="recap-modal" tabindex="-1" role="dialog" aria-labelledby="recapModalLabel">
  <div class="modal-dialog" role="document">
    <div id="reservationFormModalContent" class="modal-content">
      <%= render 'reservations/form' %>
    </div>
  </div>
</div>
