<div class="review-card">
  <div class="review-card-title">
    <h4>Bravo vous avez presque terminé !</h4>
  </div>
  <div class="review-card-content">
    <p>Nous allons vérifier votre Cookoon  avant sa mise en ligne.</p>
    <p>
      Pour que votre Cookoon apparaisse sur le site, vous devez connecter votre compte à notre organisme de paiement partenaire.
      Si ce n'est pas déjà fait rendez vous dans votre Profil et cliquez sur 'Connecter mon compte avec Stripe'.
    </p>
  </div>
  <div class="review-card-footer"></div>
</div>
