<%= content_for :navbar_content do %>
  <h4>Résultats <br/> de votre recherche</h4>
  <p>le JJ/MM/AA, à 00h, </p>
  <p>pour 0 heures et pour x personnes</p>
<% end %>

<div class="container">
  <div id="cookoons_and_map" class="row">
    <% if @cookoons.empty? %>
      <%= render 'no_cookoon' %>
    <% else %>
      <%= render 'cookoons_and_map' %>
    <% end %>
  </div>
</div>

<!-- unless @lat_lng -->
<!-- can add this script to set cookie[:lat_lng] -->
<!-- <script>getGeoLocation()</script> -->
