<div class="container">
  <b>Trouvez le Cookoon dont vous avez besoin</b>
</div>

<div id="search">
  <%= render 'user_searches/search_form' %>
</div>

<div class="container">
  <div id="cookoons_and_map" class="row">
    <% if @cookoons.empty? %>
      <%= render 'no_cookoon' %>
    <% else %>
      <%= render 'cookoons_and_map' %>
    <% end %>
  </div>
</div>

<!-- unless @lat_lng -->
<!-- can add this script to set cookie[:lat_lng] -->
<!-- <script>getGeoLocation()</script> -->
