<div class="container">
  <b>Trouvez le Cookoon dont vous avez besoin</b>
</div>

<%= render 'user_searches/search_form' %>

<% if @cookoons.empty? %>
  <%= render 'no_cookoon' %>
<% else %>
  <div class="container">
    <div class="row">
      <%= render 'cookoons_and_map' %>
    </div>
  </div>
<% end %>

<!-- Payment success modal -->
<%= render 'payments/succeed' %>

<% unless @lat_lng %>
  <script>getGeoLocation()</script>
<% end %>

<% if flash[:payment_succeed] %>
  <script>
    $(document).on('turbolinks:load ajaxComplete', function() {
      $('#payment_succeed').modal('show');
    });
  </script>
<% end %>
