<div class="container">
  <b>Trouvez le Cookoon dont vous avez besoin</b>
</div>

<%= render 'user_searches/search_form' %>

<% if @cookoons.empty? %>
  <%= render 'no_cookoon' %>
<% else %>
  <div class="container">
    <div class="row">
      <%= render 'cookoons_and_map' %>
    </div>
  </div>
<% end %>

<!-- unless @lat_lng -->
<!-- can add this script to set cookie[:lat_lng] -->
<!-- <script>getGeoLocation()</script> -->
