<div class="container">
  <p>
    Décrivez nous votre appartement, maison, loft ou hôtel particulier !
    Nous vous contacterons ensuite pour un rendez-vous de présentation et une séance photo
  </p>

  <%= render 'form' %>
</div>
