<% content_for :navbar_back_url, host_dashboard_path %>

<div class="container">
  <h4 class='text-primary'>Proposer un Cookoon</h4>
  <p>
    Remplissez ce formulaire pour soumettre votre appartement et le poster sur
    Cookoon! Nous vous recontacterons dès que possible pour une recontre chez vous
    pour faire un état-des-lieux préliminaire et prendre en photo votre espace.
  </p>

  <p><b>Décrivez votre Cookoon</b></p>

  <%= render 'form' %>
</div>
