<% content_for :navbar_type, :fixed_back %>

<div class="bg-dark">
  <%= carousel_for(@cookoon.photos) %>
</div>

<%= render 'presentation' %>

<!-- Map -->
<div class="map-cookoon-show"
     data-controller='google-maps'
     data-target="google-maps.cookoonShowMap"
     data-google-maps-marker="<%= @marker.to_json %>"
></div>

<div style='padding: 45px;'></div>

<!-- Booking / review block -->
<%= booking_button_or_review_block_for(@cookoon) %>
