<% @weeks.each do |week| %>
  <h3><%= week[:display] %></h3>
  
  <% week[:days].each do |day| %>
    <div class="d-flex-default">
      <h4><%= day[:display] %></h4>

      <% day[:time_slots].each do |time_slot| %>
        <%= c 'availability', time_slot %>
      <% end %>
    </div>
  <% end %>
<% end %>
