<% @weeks.each do |week| %>
  <%= week[:display] %>
  <% week[:days].each do |day| %>
    <% day[:time_slots].each do |time_slot| %>
      <p><%= day[:display] %> <%= c 'availability', time_slot %></p>
    <% end %>
  <% end %>
<% end %>
