.d-flex data-dish-id=dish.id
  p #{ dish.order } (#{ dish.category }): #{ dish.name } &nbsp
  p = link_to "", admin_chef_menu_dish_path(chef, menu, dish), method: :delete, class: "fas fa-times fa-lg", remote: true
